html
    background-color: black

$primary: #fa2759
$secondary: #2dfcd8
$gray: #1a1a1a
$background2: #131111

.header 
    height: 86px
    background-color: black
    display: flex
    justify-content: space-between
    align-items: center
   
    img
        height: 45px
        width: 45px
    a 
        margin-left: 15px

        &:hover
            color: $primary