@import '../../styles.sass'

html
    background-color: black

.costom
    background-color: black
    color: white
    font-size: 200%

.header
    padding-top: $xxl
    padding-bottom: $xxl
    padding-right: $pdg
    padding-left: $pdg
    background-color: black
    display: flex
    justify-content: space-between
    align-items: center
    img
        height: 60px
        width: 60px
    a
        margin-left: 15px

        &:hover
            color: $primary

.logo
    cursor: pointer

.menu
    @media (max-width: $mobile)
        display: none
        &.is-open
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            position: absolute
            top: 64px
            left: 0px
            background-color: black
            width: 100%
            z-index: 100
            padding: 0px
            a
                color: white
                border-bottom: 0.2px solid rgba(255, 255, 255, 0.5)
                margin: 0px
                padding: $s
                width: calc(100% - 24px)
                display: flex
                justify-content: center
       


.burger
    border: none
    background-color: black
    display: none
    @media (max-width: $mobile)
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center

@media (max-width: $mobile)
    .header
        padding-top: $s
        padding-bottom: $s
        padding-right: $s
        padding-left: $s
        img
            height: 40px
            width: 40px
