@import '../../styles.sass'
    
html
    background-color: black


.header 
    padding: $pdg
    background-color: black
    display: flex
    justify-content: space-between
    align-items: center
   
    img
        height: 60px
        width: 60px
    a 
        margin-left: 15px

        &:hover
            color: $primary