@import '../../styles.sass'

.main
    @include flex-center-col

    background-color: black

.icons
    display: flex
    justify-content: center
    align-items: center

img
    height: 40px
    width: 40px

.icons
    padding-top: $xl
    gap: 47px

a
    color: white
.mail
    font-size: 23px
    padding-top: 48px

.legal-notice
    padding-bottom: $l
    padding-top: $s
    font-size: 16px

.logo
    padding-top: 28px
    padding-bottom: 28px