@import '../../styles.sass'
    
.main
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: $pdg 
    padding-right: $pdg 

.icons
    display: flex
    justify-content: center
    align-items: center

img 
    height: 45px
    width: 45px