<div class="main">    
    <div class="icons">
        <div *ngFor="let socialLogo of socialLogos">
            <a href="{{socialLogo.url}}" target="_blank">
                <img src="{{socialLogo.logo}}">
            </a>
        </div>
    </div>
    <img class="logo" src="assets/img/profile/logo.png">
    <a class="mail" href="mailto:stefan-herrmann@posteo.de">stefan-herrmann@posteo.de</a>
    <a class="legal-notice" routerLink="/legal-notice" routerLinkActive="active">Imprint | Legal Notice</a>
</div>