@import '../../styles.sass'




#pagesHead img
    transition: transform 5s

div
    color: #FFFCF3

.triangle
    display: block

.greeting
    background-color: black
    opacity: 1.0
    color: white
/* main-padding */

.send-btn
    transition: font-weight 0.3s ease, transform 0.3s ease
    &:hover
        font-weight: bold
        transform: scaleX(1.1)

input, textarea
    background-color: black
    border: none
    width: calc( 100% - 42px )
    color: #FFFCF3
    font-size: 16px
    margin-bottom: $ml
    outline: $border-transparent
    border-bottom: 2px solid #FFFCF3

input:active, input:focus, textarea:active, textarea:focus
    background-color: black !important
    color: white !important

input:-webkit-autofill, textarea:-webkit-autofill
    background-color: black !important
    -webkit-box-shadow: 0 0 0 1000px black inset
    color: white !important
    -webkit-text-fill-color: white !important
textarea
    height: 200px
    font-family: overpass
    resize: none
    padding-top: 10.5px
    padding-bottom: 10.5px
    padding-left: 25px
input
    padding-top: 10.5px
    padding-left: 25px
    padding-bottom: 10.5px

input:focus, textarea:focus
    outline: $border-white
    border-bottom: 2px solid transparent

.contact-data
    padding-left: $s
    padding-right: $s
    position: relative
    margin-top: 52px

h3
    font-family: 'Overpass'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 38px
    text-align: center
    color: $secondary
    padding-top: $ml
    padding-bottom: $s

.greeting
    text-align: center

.main
    background-color: black !important
    position: relative

.triangle
    width: 100%
    background-color: $background
    img
        width: 100%

.arrow-up
    width: 53px
    height: 76px


.btn-container
    width: 100%
    display: flex
    justify-content: center

    .send-btn
        border: 2px solid #FFFCF3
        background-color: black
        padding: 20px 40px

.valid, .invalid
    position: absolute
    width: 20px
    height: 20px
    right: 5%
    top: 10px

.contact
    @include flex-center-col
    .contact-data
        width: max(260px, 40%)

@media (min-width: $tablet)

    .btn-container
        justify-content: space-between


    input, textarea
        width: calc( 100% - 21px )

    h2
        text-align: left !important
        justify-content: flex
