@import '../../styles.sass'

input
    background-color: $background
    width: 610px
    padding: 10px
    text-indent: 10px
    &::placeholder
        font-family: 'Inter', sans-serif
        color: #989898

.contact
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    div
        width: 90%
 


.main
    background-color: black
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding-bottom: $pdg
    padding-top: $pdg
    h2
        display: flex
        align-self: flex-start
        padding-bottom: $m

div
    color: white
    padding-top: $m
    padding-bottom: $s

h2
    color: $secondary

.send-btn
    color: $secondary
    margin-top: 40px
    width: 300px
    height: 78px
    font-size: 18px
    background-color: black
    padding: 0
    border: solid 2px $secondary

.btn-container
    display: flex
    justify-content: flex-end

textarea
    height: 180px
    width: 610px
    resize: none
    background: $background
    padding: 10px
    font-family: inter,sans-serif
    text-indent: 10px
    font-size: 14px
    color: #989898
    &:placeholder
        font-family: 'Inter', sans-serif
        color: #989898

form
    width: 100%

span
    color: $primary

input:focus
    outline: none !important
    border: 1px solid $primary
    box-shadow: 0 0 10px $secondary

textarea:focus
    outline: none !important
    border: 1px solid $primary
    box-shadow: 0 0 10px $secondary

@media (max-width: $mobile)

    div
        padding: 6px

    .main
        background-color: $background
        padding: 0px
        padding-bottom: $l
        h2
            padding-bottom: 0px
            display: flex
            justify-content: flex-start
    .email
        color: $secondary

    textarea
        width: 86%

    input
        width: 86%

    .send-btn
        width: 128px
        height: 60px
        margin-top: 0px

    div
        padding-top: $m
        padding-bottom: $s
