<div class="main" id="contactForm">
    <div class="email-contact">
        <h2>Contact me</h2>
        <div>Get in touch via the form below, or by sending an E-mail to <span
                class="email">stefan-herrmann@posteo.de</span></div>
    </div>
    <form (submit)="sendMail()" ngNativeValidate #myForm>
        <div class="contact">
            <div>
                <div>Name<span>*</span></div>
                <input required type="name" #nameField placeholder="Enter your name">
            </div>
            <div>
                <div>Email-address<span>*</span></div>
                <input required type="email" #emailField placeholder="Enter your Email address">
            </div>
            <div>
                <div>Message<span>*</span></div>
                <textarea required type="message" #messageField placeholder="Enter your message"></textarea>
            </div>
        </div>
        <div class="btn-container">
            <button class="send-btn" #sendButton>Send</button>
        </div>
    </form>
</div>