@import '../../styles.sass'

.main
    padding-top: 58px
    padding-left: $s
    padding-right: $s

.image-con
    @include flex-center
    .profile-pic
        width: 336px
        height: 336px
        padding-top: $xxl

.about-me

    padding-top: 44px
