@import '../../styles.sass'

.main
    padding-top: 58px
    padding-left: $s
    padding-right: $s

.image-con
    @include flex-center
    .profile-pic
        width: 336px
        height: 336px
        padding-top: $xxl

.about-me

    padding-top: 44px

@media (min-width: $tablet)
    .content
        display: flex
        justify-content: space-between

    .about-me
        flex: 1
        padding-top: 52px

    .image-con
        flex: 1
        .profile-pic
            padding-top: 52px
