@import '../../styles.sass'

.main
    background-color: black
    padding-bottom: $pdg
    padding-top: $pdg

.lang-btn button
    border: solid 2px $primary
    background-color: white
    width: 128px
    height: 70px
    margin: 40px

.lang-btn
    display: flex
    align-items: center
    flex-direction: column

.lang-btn-filled
    background-color: white

img
    width: 442px
    heigth: 367px
    margin-left: 45px

.project-name
    position: absolute
    background-color: rgba(0,0 ,0, 0.3)
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    font-size: 32px
    color: $primary

.project-img
    position: relative
    display: flex
    justify-content: center
    align-items: center

.projects
    display: flex
    align-items: center

.language button
    transition: background-color 0.6s linear
    &:hover
        background-color: $primary
        color: white

.showTitle
    display: none


.d-none
    display: none