$primary: #fa2759
$secondary: #2dfcd8
$gray: #1a1a1a
$background: #131111

.main
    background-color: black

.lang-btn button
    border: solid 2px $primary
    background-color: white
    width: 128px
    height: 70px
    margin: 40px

.lang-btn
    display: flex
    justify-content: center
    align-items: center

.lang-btn-filled
    background-color: white
