<div appHidden class="main" id="skills">
    <div class="arrow-container">
        <img data-aos="fade-down-left" class="arrow" src="assets/img/icons/arrowLeft.png">
    </div>
    <div class="skill-title-container">
        <div class="skill-title">
            <h2>My Skills</h2>
        </div>
    </div>
    <div class="skills">
        <div class="skill-animation" *ngFor="let skill of skills; let i = index">
            <div class="skill" data-aos="fade-up-left" [attr.data-aos-delay]="150 * i">
                <div class="name-img">
                    <img src="{{skill.icon}}">
                    <div class="skill-name">{{skill.name}}</div>
                </div>
            </div>
        </div>
    </div> 
</div>