@import '../../styles.sass'

.main
    padding-left: $pdg
    padding-right: $pdg
    background: $background
    padding-top: $pdg
    padding-bottom: $pdg


    h2
        display: block

.skill-container
    display: flex
    flex-wrap: wrap
    justify-content: center

.skill
    margin: 30px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    background-color: white
    width: 180px
    height: 120px
    border-radius: 6px
    position: relative

.icon-circ
    border-radius: 50%
    position: absolute
    top: -30px !important
    width: 60px
    height: 60px
    background-color: white
    display: flex
    justify-content: center
    align-items: center
    box-shadow: $box-shadow

    img
        width: 18px
        height: 18px

$tile-bg: #cfcfdf


@media (max-width: $mobile)

    h2
        padding-top: $xl
        padding-bottom: $xl


    .main
        padding: 0px
        padding-top: $xl

    .skill-container
        display: flex
        flex-wrap: wrap
        justify-content: center

    .skill
        margin: 30px
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        background-color: white
        width: 100px
        height: 70px
        border-radius: 6px
        position: relative

    div 
        font-size: 16px
        text-align: center

    .icon-circ        
        border-radius: 50%
        position: absolute
        top: -18px !important
        width: 40px
        height: 40px
        background-color: white
        display: flex
        justify-content: center
        align-items: center
        box-shadow: $box-shadow

    img
        width: 18px
        height: 18px

    $tile-bg: #cfcfdf

    .skill-name
        margin-top: 18px