<div appHidden class="main" id="skills">
    <h2>My Skills</h2>
    <div class="skill-container">
        <div class="skill-animation" *ngFor="let skill of skills; let i = index">
            <div class="skill" data-aos="fade-up-left" [attr.data-aos-delay]="150 * i">
                <div class="icon-circ">
                    <img src="assets/img/icons/{{skill.icon}}.png">
                </div>
                <div>
                    <div class="skill-name">{{skill.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>