@import '../../styles.sass'

.main
    padding-left: $pdg
    padding-right: $pdg
    background: $background
    padding-top: $pdg
    padding-bottom: $pdg

.skill-container
    display: flex
    flex-wrap: wrap
    justify-content: center

.skill-animation
    animation: 1s linear both fade-in

@scroll-timeline progress-timeline
    time-range: 2s

.skill
    margin: 30px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    background-color: white
    width: 180px
    height: 120px
    border-radius: 6px
    position: relative

.icon-circ
    border-radius: 50%
    position: absolute
    top: -30px !important
    width: 60px
    height: 60px
    background-color: white
    display: flex
    justify-content: center
    align-items: center
    box-shadow: $box-shadow

    img
        width: 14px
        height: 17px

$tile-bg: #cfcfdf

@keyframes fade-in
    0%
        opacity: 0
        transform: translateX(50%) scale(0) rotateZ(-60deg)

    100%
        opacity: 1
        transform: translateX(0) scale(1) rotateZ(0deg)

@for $i from 1 through 8
    .skill-animation
        &:nth-child(#{$i})
            animation-delay: $i * 0.1s
