<div class="main">
    <div class="introduction-container">
        <div data-aos="slide-right" class="discription">
            <h1>Hi,<br> I'm <span>Stefan</span> Herrmann<br> Front End developer</h1>
            <button class="contact-btn"><a href="#contact">Contact me</a></button>
        </div>
        <img data-aos="slide-left" class="profile-img" src="assets/img/profile/roundPicture.jpg">
    </div>
    <a class="arrowDown" href="">
        <img src="assets/img/icons/arrowDown.png">
    </a>
</div>
<app-skills></app-skills>
<app-projects></app-projects>
<app-journey></app-journey>
<app-contact-form></app-contact-form>