<div appHidden class="main header-padding" [ngClass]="{'hide-content height-100': displayService.showH2Only$ | async}">
    <div data-aos="slide-right" class="discription">
        <h1>Frontend<br> Developer</h1>
        <div class="border-name">
            <div class="border"></div>
            <div class="name">Stefan Herrman</div>
        </div>
        <div class="btn-container">
            <button class="contact-btn mobile"><a class="btn-link" href="#contactForm">Send a message</a></button>
        </div>
    </div>
    <div class="mailto">
        <a class="mail" href="mailto:stefan-herrmann@posteo.de">stefan-herrmann@posteo.de</a>
        <div class="arrow-down-container ">
            <img class="arrow-down" src="assets/img/icons/arrowDown.png">
            <div>Scroll<br>Down</div>
        </div>
    </div>
</div>
<div class="main-part header-padding" [ngClass]="{'hide-content': !displayService.isMenuOpen}">
    <div class="main-menu">
        <div class="title-line">
            <h2 class="main-h2">About me</h2>
            <div class="vertical-line"></div>
            <div class="horizontal-line"></div>
        </div>
        <div class="title-line">
            <h2 class="main-h2">My Skills</h2>
            <div class="vertical-line"></div>
            <div class="horizontal-line"></div>
        </div>
        <div class="title-line">
            <h2 class="main-h2">Portfolio</h2>
            <div class="vertical-line"></div>
            <div class="horizontal-line"></div>
        </div>
    </div>
</div>
<app-journey></app-journey>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact-form></app-contact-form>